@use '../../../styles/variable' as variable
    
.card
  position: relative
  margin: 0 .5rem .5rem 0
  .cardContent, .bg
    width: 100%
    height: 100%
    border-radius: variable.$border-radius
  .cardContent
    font-weight: 600
    letter-spacing: 1px
    color: variable.$border-color
    border: variable.$btn-border-width solid variable.$border-color
    background: #fff
    position: relative
    bottom: 0
    right: 0
    transition: .2s all
    font-size: 16px
  .bg
    position: absolute
    background: variable.$button-bg-color
    border: variable.$btn-border-width solid variable.$border-color
    bottom: -8px
    right: -8px
