.letterFlyAnim
  .scene
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    .line
      width: 100%
      height: 10px
      background: #023662
      position: absolute
    .desktop
      position: absolute
      width: 750px
    .screen
      width: 494px
      position: relative
      top: -68px
      overflow: hidden
      .letter
        position: relative
        top: 0px
    .coffee
      position: absolute
      right: 0
      bottom: 50px
      width: 350px
    .book
      position: absolute
      width: 480px
      left: 20px
    .window
      position: absolute
      right: 150px
      top: -100px
      width: 300px
  .overlayScene
    width: 100%
    height: 100%
    background: #000000a6
    position: absolute
    left: 0
    top: 0
    display: flex
    justify-content: center
    align-items: center
    .letter
      position: absolute
      width: 100%
      height: 100%
      margin-top: 140px
      display: flex
      justify-content: center
      align-items: center
      z-index: 2
      .employeeBadge
        position: absolute
      .letterMask
        width: 600px
        position: absolute
        z-index: 2
      .letterBg
        position: absolute
        width: 600px
        height: 345px
        background: #fff
      .letterTriangle
        width: 600px
        position: absolute
        top: 60px
